#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-size: 7rem;
    font-family: 'Montserrat', sans-serif; 
    color: white;
    backdrop-filter: blur(2px); 
    background-color: hsla(0, 0%, 100%, 0.1); 
}

body {
    margin: 0;
    background-image: url('irvine.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
